{% extends "nueva_entrega/base.html" %}

{% block main %}
<br>
</br>
<form action="?" method="GET">
    <p>
        <label for="criterio"></label>
        <input type="text" name="criterio" value= "{{ request.get.criterio }}" maxlength="100" required="" id="" placeholder="Criterio de Busqueda">   
      </p> 
      <p>
        <input type="submit" value="Buscar">
      </p>
</form>

    <ul>
    {% for libro in object_list  %}
    <li>
        {{libro}} 
    </li>
    {% empty %}
    No existen registos
    {% endfor %}
    </ul>
  
{% endblock %}